<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="Testcases.HomePageTest"/>
       <class name="Testcases.NewTest"/>
        <class name="Testcases.New_ContactTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

